.app {
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.app-header {
  padding: 10px 20px;
  text-align: center;
}

.app-title {
  margin: 0;
  font-weight: normal;
}